.bank-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/bank-in.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bank-boss {
    position: fixed;
    top: 25%;
    left: 40%;
    height: 600px;
    z-index: 2;
  }
  
  .bank-boss-conversation {
    position: fixed;
    top: 55%;
    left: 50%;
    height: 600px;
    z-index: -1;
    transform: scale(2.2);
    animation: bank-boss 2s
  }

  @media (max-height: 500px) {
    .bank-boss-conversation {
      top: 80%;
      animation: bank-boss500 2s
    }
  }

  @media (max-height: 400px) {
    .bank-boss-conversation {
      top: 90%;
      animation: bank-boss400 2s
    }
  }
  
  @keyframes bank-boss {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 55%;
      left: 50%;
      z-index: 3;
      transform: scale(2.2) 
    }
  }

  @keyframes bank-boss500 {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 80%;
      left: 50%;
      z-index: 3;
      transform: scale(2.2) 
    }
  }

  @keyframes bank-boss400 {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 90%;
      left: 50%;
      z-index: 3;
      transform: scale(2.2) 
    }
  }
