.bank-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('C:\Users\Mariusz\Desktop\jan-lech\mystery-game\src/assets/bank-in.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bank-boss {
    position: fixed;
    top: 15%;
    left: 40%;
    height: 500px;
    z-index: 2;
  }
  
  .bank-boss-conversation {
    position: fixed;
    top: 55%;
    left: 60%;
    height: 500px;
    z-index: 3;
    transform: scale(2.5);
    animation: bank-boss 2s
  }
  
  @keyframes bank-boss {
    from { 
      top: 15%;
      left: 40%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 55%;
      left: 60%;
      z-index: 3;
      transform: scale(2.5) 
    }
  }

  .main {
    animation: fadein 2s
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .out {
    animation: fadeout 2s
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }