.consulate-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/konsulat.jpg');
    background-position: bottom;
    background-size: cover;
  }

  .worker-consulate {
    position: fixed;
    top: 15%;
    left: 40%;
    height: 600px;
  }

  .worker-consulate-conversation {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 600px;
    z-index: -1;
    transform: scale(2.5);
    animation: worker-consulate 2s
  }

  

  @media (max-width: 700px) {
    .worker-consulate-conversation {
      top: 50%;
      left: 20%;
      animation: worker-consulate700 2s
    }
  }

  @media (max-width: 400px) {
    .worker-consulate-conversation {
      top: 50%;
      left: -10%;
      animation: worker-consulate400 2s
    }
  }

  @media (max-height: 450px) {
    .worker-consulate-conversation {
      top: 70%;
      left: 40%;
      animation: worker-consulate450 2s
    }
  }

  @media (min-height: 760px) and (min-width: 760px){
    .worker-consulate {
      top: 50%;
      left: 50%;
      transform: scale(2.5);
    }

    .worker-consulate-conversation {
      transform: scale(2.5);
      animation: none
    }
  }

  
  @keyframes worker-consulate {
    from { 
      top: 15%;
      left: 40%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: scale(2.5) 
    }
  }

  @keyframes worker-consulate700 {
    from { 
      top: 15%;
      left: 40%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: 20%;
      z-index: 3;
      transform: scale(2.5) 
    }
  }

  @keyframes worker-consulate450 {
    from { 
      top: 15%;
      left: 40%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 70%;
      left: 40%;
      z-index: 3;
      transform: scale(2.5) 
    }
  }

  @keyframes worker-consulate400 {
    from { 
      top: 15%;
      left: 40%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: -10%;
      z-index: 3;
      transform: scale(2.5) 
    }
  }
