.hawelka-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('C:\Users\Mariusz\Desktop\jan-lech\mystery-game\src/assets/hawelka-in.jpg');
    background-position: bottom;
    background-size: cover;
  }
  
  .boss-hawelka {
    position: fixed;
    top: 0%;
    left: -12%;
    height: 1500px
  }

  .waiter {
    position: fixed;
    top: 25%;
    left: 30%;
    height: 400px
  }

  .client {
    position: fixed;
    top: 20%;
    left: 60%;
    height: 600px;
  }

  .boss-hawelka-conversation {
    position: fixed;
    top: 55%;
    left: 60%;
    height: 1500px;
    z-index: 3;
    transform: scale(1.3);
    animation: boss-hawelka 2s
  }

  .waiter-conversation {
    position: fixed;
    top: 60%;
    left: 60%;
    height: 400px;
    z-index: 3;
    transform: scale(3);
    animation: waiter 2s
  }

  .client-conversation {
    position: fixed;
    top: 50%;
    left: 60%;
    height: 600px;
    z-index: 3;
    transform: scale(2);
    animation: client 2s
  }

  @keyframes boss-hawelka {
    from { 
      top: 0%;
      left: -12%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 55%;
      left: 60%;
      z-index: 3;
      transform: scale(1.3);
    }
  }
  
  @keyframes waiter {
    from { 
      top: 25%;
      left: 30%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 60%;
      left: 60%;
      z-index: 3;
      transform: scale(3) 
    }
  }

  @keyframes client {
    from { 
      top: 20%;
      left: 60%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: 60%;
      z-index: 3;
      transform: scale(2) 
    }
  }








  .main {
    animation: fadein 2s
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .out {
    animation: fadeout 2s
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  