.location-overlay {
  z-index: 200;
  background-color: black;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 100px;
  animation: fadeoutlong 2s 3s forwards
}

.home-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/home-in.jpg');
    background-position: center;
    background-size: cover;
  }

  .base {
    overflow: scroll;
  }
  
  .wife {
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 2;
  }
  
  .wife-conversation {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: scale(2);
    animation: wife 2s
  }

 

  @media (max-width: 600px) { 
    .wife {
      position: fixed;
      top: 30%;
      left: 20%;
      z-index: 2;
    }
    
    .wife-conversation {
      position: fixed;
      top: 50%;
      left: 20%;
      z-index: -1;
      transform: scale(2);
      animation: wife-mobile 2s
    }

    .location-overlay {
      font-size: 32px
    }
  }


  @media (max-height: 500px) {
    .wife-conversation {
      top: 60%;
      animation: wife500 2s
    }
  }

  @media (max-height: 400px) {
    .wife-conversation {
      top: 70%;
      animation: wife400 2s
    }
  }

  @media (min-height: 760px) and (min-width: 760px){
    .wife {
      top: 50%;
      left: 50%;
      transform: scale(2);
    }

    .wife-conversation {
      animation: none
    }
  }
  
  @keyframes wife {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: scale(2) 
    }
  }

  @keyframes wife-mobile {
    from { 
      top: 30%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 50%;
      left: 20%;
      z-index: 3;
      transform: scale(2) 
    }
  }

  @keyframes wife500 {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 60%;
      left: 50%;
      z-index: 3;
      transform: scale(2) 
    }
  }

  @keyframes wife400 {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 70%;
      left: 50%;
      z-index: 3;
      transform: scale(2) 
    }
  }



  @keyframes fadeoutlong {
    from { 
      opacity: 1;
      z-index: 200;
     }
    to {
      opacity: 0;
      z-index: -1
    }
  }
