.ikc-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('C:\Users\Mariusz\Desktop\jan-lech\mystery-game\src/assets/ikc-in.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .dabrowski {
    position: fixed;
    top: 45%;
    left: 40%
  }
  
  .dabrowski-size {
    height: 300px
  }
  
  .journalist {
    position: fixed;
    top: 40%;
    left: 60%;
  }
  
  .journalist-size {
    height: 500px
  }
  

  .main {
    animation: fadein 2s
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .out {
    animation: fadeout 2s
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }