.ikc-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/ikc-in.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .dabrowski-start {
    position: fixed;
    top: 45%;
    left: 40%;
    height: 300px
  }

  .journalist-start {
    position: fixed;
    top: 40%;
    left: 60%;
    height: 500px
  }

  .dabrowski {
    position: fixed;
    top: 45%;
    left: 40%;
    height: 300px;
    animation: dabrowski 1s reverse
  }

  .journalist {
    position: fixed;
    top: 40%;
    left: 60%;
    height: 500px;
    animation: journalist 1s reverse
  }

  .dabrowski-conversation {
    position: fixed;
    top: 60%;
    left: 15%;
    height: 300px;
    z-index: 3;
    transform: scale(3.5);
    animation: dabrowski 2s
  }

  .journalist-conversation {
    position: fixed;
    top: 50%;
    left: 60%;
    height: 500px;
    z-index: 3;
    transform: scale(2);
    animation: journalist 2s
  }

  @media (max-height: 500px) {
    .dabrowski-conversation {
      top: 80%;
      animation: dabrowski500 2s
    }

    .dabrowski {
      animation: dabrowski500 1s reverse
    }

    .journalist-conversation {
      position: fixed;
      top: 60%;
      animation: journalist500 2s
    }

    .journalist {
      animation: journalist500 1s reverse
    }
  }

  @media (max-height: 400px) {
    .dabrowski-conversation {
      top: 90%;
      animation: dabrowski400 2s
    }

    .dabrowski {
      animation: dabrowski400 1s reverse
    }

    .journalist-conversation {
      position: fixed;
      top: 70%;
      animation: journalist400 2s
    }

    .journalist {
      animation: journalist400 1s reverse
    }
  }

  @keyframes dabrowski {
    from { 
      top: 45%;
      left: 40%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 60%;
      left: 15%;
      z-index: 3;
      transform: scale(3.5);
    }
  }

  @keyframes dabrowski500 {
    from { 
      top: 45%;
      left: 40%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 80%;
      left: 15%;
      z-index: 3;
      transform: scale(3.5);
    }
  }

  @keyframes dabrowski400 {
    from { 
      top: 45%;
      left: 40%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 90%;
      left: 15%;
      z-index: 3;
      transform: scale(3.5);
    }
  }
  
  @keyframes journalist {
    from { 
      top: 40%;
      left: 60%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: 60%;
      z-index: 3;
      transform: scale(2) 
    }
  }

  @keyframes journalist500 {
    from { 
      top: 40%;
      left: 60%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 60%;
      left: 60%;
      z-index: 3;
      transform: scale(2) 
    }
  }

  @keyframes journalist400 {
    from { 
      top: 40%;
      left: 60%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 70%;
      left: 60%;
      z-index: 3;
      transform: scale(2) 
    }
  }
