.jama-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/jama-in.jpg');
    background-position: bottom;
    background-size: cover;
  }

  .opa {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    background-size: cover;
    opacity: 0
  }
  
  .mehoffer-start {
    position: fixed;
    top: 15%;
    left: 0%;
    height: 700px
  }

  .zelenski-start {
    position: fixed;
    top: 0%;
    left: 60%;
  }

  .mehoffer {
    position: fixed;
    top: 15%;
    left: 0%;
    height: 700px;
    animation: mehoffer 1s reverse
  }

  .zelenski {
    position: fixed;
    top: 0%;
    left: 60%;
    animation: zelenski 1s reverse
  }

  .mehoffer-conversation {
    position: fixed;
    top: 30%;
    left: 5%;
    height: 700px;
    z-index: 3;
    transform: scale(1.5);
    animation: mehoffer 2s
  }

  .zelenski-conversation {
    position: fixed;
    top: 40%;
    left: 60%;
    z-index: 3;
    transform: scale(2);
    animation: zelenski 2s
  }

  @media (max-height: 450px) {
    .zelenski-conversation {
      top: 55%;
      animation: zelenski450 2s
    }

    .zelenski {
      animation: zelenski450 1s reverse
    }
  }

  @media (max-width: 850px) {
    .mehoffer-conversation {
      left: -5%;
      animation: mehoffer750 2s
    }

    .mehoffer {
      animation: mehoffer750 1s reverse
    }
  }

  @keyframes mehoffer {
    from { 
      top: 15%;
      left: 0%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 30%;
      left: 5%;
      z-index: 3;
      transform: scale(1.5);
    }
  }

  @keyframes mehoffer750 {
    from { 
      top: 15%;
      left: 0%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 30%;
      left: -5%;
      z-index: 3;
      transform: scale(1.5);
    }
  }
  
  @keyframes zelenski {
    from { 
      top: 0%;
      left: 60%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 40%;
      left: 60%;
      z-index: 3;
      transform: scale(2) 
    }
  }

  @keyframes zelenski450 {
    from { 
      top: 0%;
      left: 60%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 55%;
      left: 60%;
      z-index: 3;
      transform: scale(2) 
    }
  }
