.location-overlay {
  z-index: 200;
  background-color: black;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 100px;
  animation: fadeoutlong 2s 3s forwards
}

.neighbor-two-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/neighbor-two.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .neighbor1-start {
    position: fixed;
    top: 45%;
    left: 50%;
    height: 300px
  }
  
  .neighbor2-start {
    position: fixed;
    top: 35%;
    left: 20%;
    height: 400px
  }

  .neighbor1 {
    position: fixed;
    top: 45%;
    left: 50%;
    height: 300px;
    animation: neighbor1 1s reverse
  }
  
  .neighbor2 {
    position: fixed;
    top: 35%;
    left: 20%;
    height: 400px;
    animation: neighbor2 1s reverse
  }
  
  .neighbor1-conversation {
    position: fixed;
    top: 50%;
    left: 60%;
    z-index: -1;
    height: 300px;
    transform: scale(3);
    animation: neighbor1 2s
  }
  
  .neighbor2-conversation {
    position: fixed;
    top: 50%;
    left: 15%;
    z-index: -1;
    height: 400px;
    transform: scale(3);
    animation: neighbor2 2s
  }

  @media (max-width: 600px) {
    .neighbor1-conversation {
      top: 55%;
      left: 20%;
      animation: neighbor1-mobile 2s
    }

    .neighbor1 {
      animation: neighbor1-mobile 1s reverse
    }

    .location-overlay {
      font-size: 32px
    }
  }

  @media (max-height: 550px) {
    .neighbor2-conversation {
      top: 60%;
      left: 10%;
      animation: neighbor2-550 2s
    }

    .neighbor1-conversation {
      top: 55%;
      left: 60%;
      animation: neighbor1-550 2s
    }

    .neighbor1 {
      position: fixed;
      top: 45%;
      left: 50%;
      height: 300px;
      animation: neighbor1-550 1s reverse
    }
    
    .neighbor2 {
      position: fixed;
      top: 35%;
      left: 20%;
      height: 400px;
      animation: neighbor2-550 1s reverse
    }
  }

  @media (max-height: 450px) {
    .neighbor2-conversation {
      top: 70%;
      left: 10%;
      animation: neighbor2-450 2s
    }

    .neighbor1-conversation {
      top: 65%;
      left: 60%;
      animation: neighbor1-450 2s
    }

    .neighbor1 {
      position: fixed;
      top: 45%;
      left: 50%;
      height: 300px;
      animation: neighbor1-450 1s reverse
    }
    
    .neighbor2 {
      position: fixed;
      top: 35%;
      left: 20%;
      height: 400px;
      animation: neighbor2-450 1s reverse
    }
  }

  @media (max-height: 400px) {
    .neighbor2-conversation {
      top: 80%;
      left: 10%;
      animation: neighbor2-400 2s
    }
    .neighbor1-conversation {
      top: 70%;
      left: 60%;
      animation: neighbor1-400 2s
    }

    .neighbor1 {
      position: fixed;
      top: 45%;
      left: 50%;
      height: 300px;
      animation: neighbor1-400 1s reverse
    }
    
    .neighbor2 {
      position: fixed;
      top: 35%;
      left: 20%;
      height: 400px;
      animation: neighbor2-400 1s reverse
    }
  }

  @media (min-height: 760px) and (min-width: 760px){
    .neighbor2 {
      top: 50%;
      left: 15%;
      transform: scale(3);
      animation: none
    }

    .neighbor2-start {
      top: 50%;
      left: 15%;
      transform: scale(3);
      animation: none
      
    }

    .neighbor2-conversation {
      top: 50%;
      left: 15%;
      transform: scale(3);
      animation: none
    }

    .neighbor1 {
      top: 60%;
      left: 60%;
      transform: scale(4);
      animation: none
    }

    .neighbor1-start {
      top: 60%;
      left: 60%;
      transform: scale(4);
      animation: none
    }

    .neighbor1-conversation {
      top: 60%;
      left: 60%;
      transform: scale(4);
      animation: none
    }
  }
  
  @keyframes neighbor1 {
    from { 
      top: 45%;
      left: 50%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: 60%;
      z-index: 3;
      transform: scale(3);
    }
  }
  @keyframes neighbor1-550 {
    from { 
      top: 55%;
      left: 60%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: 60%;
      z-index: 3;
      transform: scale(3);
    }
  }
  @keyframes neighbor1-mobile {
    from { 
      top: 45%;
      left: 50%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 55%;
      left: 20%;
      z-index: 3;
      transform: scale(3);
    }
  }
  @keyframes neighbor1-450 {
    from { 
      top: 45%;
      left: 50%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 65%;
      left: 60%;
      z-index: 3;
      transform: scale(3);
    }
  }
  @keyframes neighbor1-400 {
    from { 
      top: 45%;
      left: 50%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 70%;
      left: 60%;
      z-index: 3;
      transform: scale(3);
    }
  }
  
  @keyframes neighbor2 {
    from { 
      top: 35%;
      left: 20%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 50%;
      left: 15%;
      z-index: 3;
      transform: scale(3) 
    }
  }

  @keyframes neighbor2-550 {
    from { 
      top: 35%;
      left: 20%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 60%;
      left: 10%;
      z-index: 3;
      transform: scale(3) 
    }
  }

  @keyframes neighbor2-450 {
    from { 
      top: 35%;
      left: 20%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 70%;
      left: 10%;
      z-index: 3;
      transform: scale(3) 
    }
  }

  @keyframes neighbor2-400 {
    from { 
      top: 35%;
      left: 20%;
      z-index: 2;
      transform: scale(1);
    }
    to { 
      top: 80%;
      left: 10%;
      z-index: 3;
      transform: scale(3) 
    }
  }


  @keyframes fadeoutlong {
    from { 
      opacity: 1;
      z-index: 200;
     }
    to {
      opacity: 0;
      z-index: -1
    }
  }