.location-overlay {
  z-index: 200;
  background-color: black;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 100px;
  animation: fadeoutlong 2s 3s forwards
}

.neighbor-one-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/neighbor-one.jpg');
    background-position: center;
    background-size: cover;
  }
  .stelmach {
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 2;
  }
  
  .stelmach-conversation {
    position: fixed;
    top: 50%;
    left: 10%;
    z-index: -1;
    transform: scale(1.8);
    animation: stelmach 2s
  }

  @media (max-width: 600px) {
    .location-overlay {
      font-size: 32px
    }
  }


  @media (max-width: 900px) {
    .stelmach-conversation {
      top: 40%;
      left: 0%;
      transform: scale(1.6);
      animation: stelmach900 2s
    }
  }

  @media (max-height: 500px) {
    .stelmach-conversation {
      top: 50%;
      left: 0%;
      transform: scale(1.6);
      animation: stelmach500 2s
    }
  }

  @media (max-width: 700px) and (max-height: 500px) {
    .stelmach-conversation {
      top: 40%;
      left: -10%;
      transform: scale(1.4);
      animation: stelmach900500 2s
    }
  }

  @media (min-height: 760px) and (min-width: 760px){
    .stelmach {
      top: 50%;
      left: 0%;
      transform: scale(1.8);
    }

    .stelmach-conversation {
      top: 50%;
      left: 0%;
      transform: scale(1.8);
      animation: none
    }
  }
  
  @keyframes stelmach {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 50%;
      left: 10%;
      z-index: 3;
      transform: scale(1.8) 
    }
  }

  @keyframes stelmach900 {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 40%;
      left: 0%;
      z-index: 3;
      transform: scale(1.6) 
    }
  }

  @keyframes stelmach900500 {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 40%;
      left: -10%;
      z-index: 3;
      transform: scale(1.4) 
    }
  }

  @keyframes stelmach500 {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 50%;
      left: 0%;
      z-index: 3;
      transform: scale(1.6) 
    }
  }




  @keyframes fadeoutlong {
    from { 
      opacity: 1;
      z-index: 200;
     }
    to {
      opacity: 0;
      z-index: -1
    }
  }