.neighbor-one-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('C:\Users\Mariusz\Desktop\jan-lech\mystery-game\src/assets/neighbor-one.jpg');
    background-position: center;
    background-size: cover;
  }
  .wife {
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 2;
  }
  
  .wife-conversation {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: scale(2);
    animation: wife 2s
  }
  
  @keyframes wife {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: scale(2) 
    }
  }





.backdrop-opacity {
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1
  }


  .main {
    animation: fadein 3s
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .out {
    animation: fadeout 3s
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }