.location-overlay {
  z-index: 200;
  background-color: black;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 100px;
  animation: fadeoutlong 2s 3s forwards
}

.neighbor-three-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('C:\Users\Mariusz\Desktop\jan-lech\mystery-game\src/assets/neighbor-three.jpg');
    background-position: bottom;
    background-size: cover;
  }
  
  .krogul {
    position: fixed;
    top: 25%;
    left: 40%;
    height: 800px
  }

  .krogul-conversation {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    height: 800px;
    transform: scale(2.1);
    animation: krogul 2s
  }

  @media (max-width: 600px) {
    .krogul-conversation {
      top: 50%;
      left: 10%;
      animation: krogul-mobile 2s
    }
    .location-overlay {
      font-size: 32px
    }
  }

  @media (max-height: 500px) {
    .krogul-conversation {
      top: 65%;
      animation: krogul500 2s
    }
  }

  @media (max-height: 450px) {
    .krogul-conversation {
      top: 72%;
      animation: krogul450 2s
    }
  }

  @media (max-height: 350px) {
    .krogul-conversation {
      top: 80%;
      animation: krogul400 2s
    }
  }
  
  @keyframes krogul {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      height: 800px;
      transform: scale(1)
    }
    to { 
      top: 50%;
      left: 50%;
      z-index: 3;
      height: 800px;
      transform: scale(2.1) 
    }
  }

  @keyframes krogul-mobile {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      height: 800px;
      transform: scale(1)
    }
    to { 
      top: 50%;
      left: 10%;
      z-index: 3;
      height: 800px;
      transform: scale(2.1) 
    }
  }

  @keyframes krogul500 {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      height: 800px;
      transform: scale(1)
    }
    to { 
      top: 65%;
      left: 50%;
      z-index: 3;
      height: 800px;
      transform: scale(2.1) 
    }
  }

  @keyframes krogul450 {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      height: 800px;
      transform: scale(1)
    }
    to { 
      top: 72%;
      left: 50%;
      z-index: 3;
      height: 800px;
      transform: scale(2.1) 
    }
  }

  @keyframes krogul400 {
    from { 
      top: 25%;
      left: 40%;
      z-index: 2;
      height: 800px;
      transform: scale(1)
    }
    to { 
      top: 80%;
      left: 50%;
      z-index: 3;
      height: 800px;
      transform: scale(2.1) 
    }
  }




  @keyframes fadeoutlong {
    from { 
      opacity: 1;
      z-index: 200;
     }
    to {
      opacity: 0;
      z-index: -1
    }
  }