.location-overlay {
  z-index: 200;
  background-color: black;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 100px;
  animation: fadeoutlong 2s 3s forwards
}

.neighbor-one-background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('C:\Users\Mariusz\Desktop\jan-lech\mystery-game\src/assets/neighbor-one.jpg');
    background-position: center;
    background-size: cover;
  }
  .stelmach {
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 2;
  }
  
  .stelmach-conversation {
    position: fixed;
    top: 60%;
    left: 50%;
    z-index: 3;
    transform: scale(2);
    animation: stelmach 2s
  }
  
  @keyframes stelmach {
    from { 
      top: 10%;
      left: 20%;
      z-index: 2;
      transform: scale(1)
    }
    to { 
      top: 60%;
      left: 50%;
      z-index: 3;
      transform: scale(2) 
    }
  }


  .main {
    animation: fadein 2s
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .out {
    animation: fadeout 2s
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

  @keyframes fadeoutlong {
    from { 
      opacity: 1;
      z-index: 200;
     }
    to {
      opacity: 0;
      z-index: -1
    }
  }