* {
  font-family: 'Special Elite', cursive;
}

body {
  height: 100%;
}

.App {
  text-align: center;
}

.backdrop {
  background-color: black;
}

.info {
  color: white;
  padding: 8px;
  font-size: 16px;

}

.info-container {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 8px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.backdrop-opacity {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  animation: fadeincolor 2s forwards;
  z-index: 2;
  padding: 0px;
  margin: 0px
}

.backdrop-opacity-back {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  animation: fadeoutcolor 1s forwards;
  z-index: 2;
  padding: 0px;
  margin: 0px
}

.backdrop-opacity-twardowskiego {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.backdrop-opacity-twardowskiego::-webkit-scrollbar {
  display: none;
}

.main-screen {
  height: 100vh;
  width: 100vw;
  color: white;
  z-index: 10;
  background-image: url('./assets/bgmain.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.additional-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explanation-container {
  background-color: rgba(0,0,0,0.7);
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  max-height: 90vh;
  overflow: scroll;
  font-size: 1rem;
  text-align: justify;
  border-radius: 20px;
  cursor: default;
  opacity: 0;
  animation: fadein 2s forwards;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.wrap {
  word-break: break-word;
}

.explanation-container::-webkit-scrollbar {
  display: none;
}

.title-container {
  background-color: rgba(0,0,0,0.7);
  padding: 40px;
  width: 60%;
  font-size: 72px;
  border-radius: 20px;
  cursor: default;
  opacity: 0;
  animation: start-animation 3s 1s forwards;
}

.lower-container {
  background-color: rgba(0,0,0,0.7);
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin: 50px;
  padding: 20px;
  font-size: 32px;
  border-radius: 20px;
  opacity: 0;
  animation: fadein 2s 3s forwards;
}

.button-upper {
  background-color: rgba(255,255,255,0.1);
  padding: 15px;
  margin: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
  transition: all 700ms;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-upper:hover {
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}

.button-lower {
  background-color: rgba(255,255,255,0.1);
  padding: 15px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  font-size: 20px;
  transition: all 700ms;
  text-align: center;
}

.button-lower:hover {
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}

@keyframes start-animation {
  0% { 
    opacity: 0;
    transform: translateY(40%);
  }
  60% {
    opacity: 1;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadein07 {
  from { opacity: 0; }
  to   { opacity: 0.7; }
}

.width-limit {
  width: 35%
}

.width-max {
  width: 95%
}

.option-container {
  width: 45%;
  max-height: 90%;
  margin: 3%;
  padding: 0px;
  position: fixed;
  animation: getin 2s;
  z-index: 50;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.option-container-back {
  opacity: 0
}

.option-container::-webkit-scrollbar {
  display: none;
}



.option-container-right {
  width: 45%;
  max-height: 90%;
  margin: 3%;
  padding: 0px;
  position: fixed;
  right: 0;
  animation: getinright 2s;
  z-index: 50;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.option-container-right-back {
  opacity: 0
}

.option-container-right::-webkit-scrollbar {
  display: none;
}

.option {
  background-color:#fff;
  width: 80%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  z-index: 50;
  font-size: 16px;
  border: 2px black solid;
  transition: all 1s;
}

.option:hover {
  background-color:#fff;
  transform: scale(1.1);
  z-index: 100;
  cursor: pointer
}

.option-twardowskiego {
  background-color:#fff;
  width: 30%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  z-index: 50;
  font-size: 16px;
  border: 2px black solid;
  transition: all 1s;
}

.option-twardowskiego:hover {
  background-color:#fff;
  transform: scale(1.1);
  z-index: 100;
  cursor: pointer
}

.message {
  background-color:#fff;
  width: 90%;
  margin: 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 10px;
  z-index: 2;
  font-size: 20px;
  border: 2px black solid;
}

.message-twardowskiego {
  background-color:#fff;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 10px;
  z-index: 2;
  font-size: 20px;
  border: 2px black solid;
}

.back-message {
  background-color:#bbb;
}

.last-p {
  margin-bottom: 40px;
}

@media (max-height: 500px) {
  .option {
    font-size: 14px
  }

  .message {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .title-container {
    font-size: 32px;
  }

  .lower-container {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px
  }

  .button-upper {
    padding: 10px;
    font-size: 16px;
  }
  
  .button-lower {
    padding: 10px;
    font-size: 14px;
  }
}



@media (max-width: 600px) {

  .option-container-right {
    left: 0;
    width: 100%;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .option-container {
    left: 0;
    width: 100%;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .option {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .option:hover {
    transform: scale(1);
  }

  .message {
    margin-bottom: 30px;
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .mg {
    margin-top: 30px;
    width: 70%;
  }

  .option-twardowskiego {
    width: 60%
  }

}

.fade {
  animation: fade-in-out 2s;
}

.fade-long {
  animation: fade-in-out 4s;
}

@keyframes fade-in-out {
  0% { 
    opacity: 1;
  }
  40%   {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out-2 {
  0% { 
    transform: translateX(0);
  }
  40%   {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.main {
  animation: fadein 2s;
}

@keyframes getin {
  from { 
    transform: translateX(-100%);
    z-index: 100
  }
  to   {
    transform: translateX(0);
    z-index: 100
  }
}

@keyframes getinright {
  from { 
    transform: translateX(200%);
    z-index: 100
  }
  to   {
    transform: translateX(0);
    z-index: 100
  }
}

@keyframes fadeincolor {
  from { 
    background-color: rgba(0,0,0,0.0); 
  }
  to   { 
    background-color: rgba(0,0,0,0.7); 
  }
}

@keyframes fadeoutcolor {
  from { 
    background-color: rgba(0,0,0,0.7); 
  }
  to   { 
    background-color: rgba(0,0,0,0.0); 
  }
}



@keyframes fadein {
  from { 
    opacity: 0;
   }
  to   { 
    opacity: 1;
   }
}

.out {
  animation: fadeout 2s
}

.out2 {
  animation: fadeout 1s
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.App-logo {
  width: 70vw;
  pointer-events: none;
}

.App-header {
  background-color: #292c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.twardowskiego-background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('./assets/Twardowskiego.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('./assets/1925aaa.png');
  background-position: center;
  background-size: cover;
}
.map {
 transform: scale(1.3) 
}

.overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s
}

.overlay:hover {
  opacity: 0.6;
  cursor: pointer
}

.icon {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 80px;
  border-radius: 45px;
  border: 2px black solid;
  z-index: 1;
  transition: transform 1s;
  overflow: hidden;
}

.place-icon {
  background-image: url('./assets/Twardowskiego.jpg');
  top: 80%;
  left: 30%;
}

.place-icon:hover {
  transform: scale(1.5)
}

.place-icon-hospital {
  background-image: url('./assets/Szpital.jpg');
  top: 85%;
  left: 20%;
}

.place-icon-hospital:hover {
  transform: scale(1.5);
  z-index: 100;
}

.place-icon-brewery {
  background-image: url('./assets/lubicz-out.jpg');
  top: 20%;
  left: 60%;
}

.place-icon-brewery:hover {
  transform: scale(1.5);
  z-index: 100;
}

.place-icon-rogatka {
  background-image: url('./assets/rogatka.jpg');
  top: 10%;
  left: 20%;
}

.place-icon-rogatka:hover {
  transform: scale(1.5);
  z-index: 100;
}

.place-icon-hawelka {
  background-image: url('./assets/hawelka-out.jpg');
  top: 25%;
  left: 42%;
}

.place-icon-hawelka:hover {
  transform: scale(1.5);
  z-index: 100;
}

.place-icon-jama {
  background-image: url('./assets/jama.jpg');
  top: 20%;
  left: 50%;
}

.place-icon-jama:hover {
  transform: scale(1.5);
  z-index: 100
}

.place-icon-golebia {
  background-image: url('./assets/golebia.jpg');
  top: 43%;
  left: 43%;
}

.place-icon-golebia:hover {
  transform: scale(1.5);
  z-index: 100;
}

.place-icon-bank {
  background-image: url('./assets/bank.jpg');
  top: 10%;
  left: 45%;
}

.place-icon-bank:hover {
  transform: scale(1.5);
  z-index: 100;
}

.place-icon-ikc {
  background-image: url('./assets/ikc.jpg');
  top: 40%;
  left: 52%;
}

.place-icon-ikc:hover {
  transform: scale(1.5);
  z-index: 100;
}

.place-icon-thorna {
  background-image: url('./assets/thorna.jpg');
  bottom: 5%;
  left: 50%;
}

.place-icon-thorna:hover {
  transform: scale(1.5);
  z-index: 100;
}

@media (max-width: 700px) {
  .option {
    font-size: 14px
  }

  .message {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .title-container {
    font-size: 32px;
  }

  .lower-container {
    width: 40%;
  }

  .button-upper {
    padding: 10px;
    font-size: 16px;
  }
  
  .button-lower {
    padding: 10px;
    font-size: 14px;
  }

  .explanation-container {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .icon {
    width: 60px;
    height: 60px
  }

  .overlay {
    opacity: 0.6;
    font-size: 8px;
  }

  .place-icon {
    top: 70%
  }

  .place-icon-hawelka {
    left: 37%
  }

  .place-icon-brewery {
    left: 70%
  }

  .place-icon-golebia {
    left: 33%
  }

  .place-icon-rogatka {
    top: 15%;
    left: 10%
  }

}

@media (max-width: 450px) {
  .place-icon {
    top: 80%;
    left: 3%
  }

  .place-icon-hawelka {
    left: 25%
  }

  .place-icon-hospital {
    top: 90%;
    left: 5%
  }

  .place-icon-brewery {
    left: 70%
  }

  .place-icon-golebia {
    left: 23%
  }

  .place-icon-rogatka {
    left: 10%
  }

}